{% extends "page.html" %}

{% block title %}{{c.header_dict.get('title', '')}} - Harvested Gemini Metadata{% endblock %}

{% block breadcrumb_content %}
  {{ h.build_nav('dgu_search', _('Datasets')) }}
  <li><a href="/dataset/{{c.package.name}}">{{c.package.title}}</a></li>
  <li><a href="#">Gemini metadata</a></li>
{% endblock %}

{% block optional_head %}
  {% if c.header_dict %}
    <meta name="DC.source" content="GEMINI metadata record with GUID: {{c.header_dict['guid']}}"/>
    <meta name="DC.publisher" content="{{c.header_dict['publisher']}}"/>
    <meta name="DC.subject" scheme="eGMS.IPSV" content="metadata"/>
    <meta name="DC.language" scheme="DCTERMS.ISO639-2" content="{{c.header_dict['language']}}"/>
   {% endif %}
{% endblock %}

{% block primary_content_inner %}
  <div>
    <h1 class="head">
      Harvested Gemini Metadata
    </h1>
    <div class="harvest-metadata boxed">
      {{c.harvest_metadata_html}}
    </div>
  </div>
{% endblock %}