{% extends "page.html" %}

{% block title %}{{c.pkg.title or c.pkg.name}} - WMS preview{% endblock %}

{% block optional_head %}
  <link type="text/css" rel="stylesheet" media="all" href="/ckanext/spatial/css/wms_preview.css" />
{% endblock %}

{% block primary_content_inner %}
<div>
  <div class="map-view-content">
    <h2 class="head">
      ${c.pkg.title}
    </h2>

    <!-- Source URL -->
    {% if  c.wms_url %}
    <div class="url">
      <p>
        Source: <a href="{{c.wms_url}}" target="_blank">{{c.wms_url}}</a>
      </p>
    </div>
    {% endif %}
    <p>
    <a
      href="/dataset/{{c.pkg.name}}"
      title="Dataset Details">
      Dataset details</a>
    </p>
      <div class="package subsection">
      <h3>WMS preview</h3>
    <div id="map"></div>
    <div id="layers"></div>
    </div>
  </div>
</div>
{% endblock %}

{% block optional_footer %}
<link type="text/css" rel="stylesheet" media="all" href="/ckanext/spatial/css/wms_preview.css" />
<script type="text/javascript" src="/ckanext/spatial/js/openlayers/OpenLayers_wms_preview.js"></script>
<script type="text/javascript" src="/ckanext/spatial/js/wms_preview.js"></script>
<script type="text/javascript">
//<![CDATA[
$(document).ready(function(){
    CKAN.WMSPreview.setup("{{c.wms_url}}");
})
//]]>
</script>
{% endblock %}

